*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100%;
}

h1,
p{
  text-align: center;
  padding: 0 auto;
  margin: 1em;
}

input, label{
  display: block;
  margin: 10px;
}

fieldset{
  width: 60vw;
  margin: 0 auto;
}

select{
  display: block;
}

[input]